// Web Fonts
// font-family: 'DM Serif Display',
// serif;
// font-family: 'Playfair Display',
// serif;

.drinks-index-container {
  align-content: center;
  margin-bottom: 60px;
  background-color: #f7f7f7;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 52px;

 #drink-index-h1-container {
   width: 100%;
   display: flex;
   justify-content: center;
 }

  input.search::placeholder { 
   text-align: center;
 }

 hr {
    width: 95%;
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}


  h1 {
  color: black;
  font-family: 'DM Serif Display',
  serif;
  font-weight: 400;
  font-style: normal;
  font-size: 40px;
  margin-bottom: 40px;
  margin-top: 10px;
  position: relative;
  // text-decoration: rgb(245, 110, 76) solid underline;

}
  #cocktails-h1:before{
    content: "";
    height: 5px;
    background-color: #f16762;
    width: 120px;
    position: absolute;
    display: block;
    left: 50%;
    bottom: 0;
    margin-left: -63px;
  }

  .drink-tile-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #fff;
    margin: 0 20px;
    border-radius: 8px;
    width: 90%;
  }

  .drink-index-tile {
    width: 100%;
    height: 70px;
  
    a {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      width: 100%;
    }
  }

  .drink-index-img {
    border-radius: 8px;
    height: 50px;
    width: 50px;
    margin-left: 10px;
  }

  .drink-index-name {
    color: black;
    bottom: 0;
    right: 0px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-radius: 3px;
    font-weight: 200;
    font-size: 50%;
    margin-left: 10px;
  }
  
  a {
    text-decoration: none;
    font-family: house-script,
    sans-serif;
    font-size: 32px;
    color: black;
  }

  // Search Bar

  .search-container {
    width: 70%
  }

  .search {
    height: 40px;
    border-radius: 20px;
    width: 100%;
    text-align: center;
    background-color: #fff;
    border: 1px solid #dfe0e6;
    color: #1c1c1f;
    line-height: normal;
    margin: 0;
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: .9375em;
    margin-bottom: 1em;
    outline: none;
  }

  .search::-webkit-input-placeholder {
    -webkit-transition: opacity 0.3s linear;
    color: gray;
  }

  .search:focus::-webkit-input-placeholder {
    border-color: rgb(252, 154, 154) !important;
    opacity: .3;
  }

  // .search:active {
  //   border-color: rgb(248, 87, 87);
  // }

  #emoji {
    display: inline-block;
  }
  
}

// Mobile break point - Desktop code here
@media screen and (min-width: 415px) {
  // CSS code here

  // Search Bar
  .drinks-index-container .search {
    width: 40%;
  }

  // Web Fonts
// font-family: 'DM Serif Display',
// serif;
// font-family: 'Playfair Display',
// serif;

.drinks-index-container {
  align-content: center;
  margin-bottom: 60px;
  background-color: #f7f7f7;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 52px;

 #drink-index-h1-container {
   width: 100%;
   display: flex;
   justify-content: center;
 }

 hr {
   display: none;
    width: 95%;
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  }

  h1 {
    color: black;
    font-family: 'DM Serif Display',
    serif;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
    margin-bottom: 40px;
    margin-top: 10px;
    position: relative;
    // text-decoration: rgb(245, 110, 76) solid underline;
  }

  #cocktails-h1:before{
    content: "";
    height: 5px;
    background-color: #f16762;
    width: 120px;
    position: absolute;
    display: block;
    left: 50%;
    bottom: 0;
    margin-left: -63px;
  }

  .drink-tile-container {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    background: #fff;
    border-radius: 5px;
    width: 80vw;
    padding: 30px 0 0 15px;
  }

  .drink-index-tile {
    width: 20%;
    height: 100%;
    position: relative;
    margin: 0% 3% 3% 1%;
    border-radius: 5px;
    box-shadow: 9px 9px 10px -2px #888888;
  
    a {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      width: 100%;
   }
   
  }

  .drink-index-tile:hover {
    transform: scale(1.05);
  }

  .drink-index-img {
    border-radius: 5px;
    height: 100%;
    width: 100%;
    padding-bottom: 40%;
    background: #130d0d;
    margin-left: 0;
  }

  #drink-index-name-container {
    position: absolute;
    top: 75%;
    left: 0;
    right: 0;
    margin: 0 0 0 0;
    padding: 0px 20px;
  }

  .drink-index-name {
    position: absolute;
    top: 79%;
    left: 0;
    right: 0;
    margin: 0 0 0 0;
    padding: 0px 20px;
    line-height: 30px;
    color: white;
    // font-family: Georgia, 'Times New Roman', Times, serif;
    font-family: 'Vollkorn',
    serif;
    font-weight: 200;
    font-size: 22px;
  }
  
  a {
    text-decoration: none;
    font-family: house-script,
    sans-serif;
    font-size: 42px;
    color: black;
  }

  // Search Bar

  .search-container {
    width: 70%
  }

  .search {
    height: 40px;
    border-radius: 20px;
    text-indent: 0%;
    width: 40%;
    background-color: #fff;
    border: 1px solid #dfe0e6;
    color: #1c1c1f;
    line-height: normal;
    margin: 0;
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: .9375em;
    margin-bottom: 1em;
    outline: none;
    text-align: center;
  }

  .search::-webkit-input-placeholder {
    -webkit-transition: opacity 0.3s linear;
    color: gray;
  }

  .search:focus::-webkit-input-placeholder {
    border-color: rgb(252, 154, 154) !important;
    opacity: .3;
  }

  // .search:active {
  //   border-color: rgb(248, 87, 87);
  // }

  #emoji {
    display: inline-block;
  }
  
}
}