.drink-show-container {
  align-content: center;

  h1 {
  color: black;
  font-family: house-script,
  sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 42px;
  text-align: left;
  margin-bottom: 20px;
  text-align: center;
}

  h2 {
  color: black;
  font-family: house-script,
  sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 32px;
  text-align: left;
  margin-bottom: 20px;
  text-align: center;
}

  .drink-show-img {
    border-radius: 20px;
  }

  .drink-show-desc {
    font-family: 'Pontano Sans', sans-serif;
    font-size: 14px;
  }

}

.drink-show-measure-ingr-wrapper {
  display: flex;
  justify-content: space-around;
  margin-left: 20%;
  margin-right: 20%;
}