body {background-color: #f7f7f7;
}

.ingred-show-container {
  align-content: center;
  margin-bottom: 55px;
  background-color: #f7f7f7;
  .hidden{
    display: none;
  }
  .mobile-hidden{
    display:none;
  }
  h1 {
  color: black;
  font-family: house-script,
  sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 42px;
  text-align: left;
  text-align: center;
}
.desktop-ingred-title{
  display: none;
}
  h2 {
    color: black;
    font-family: 'Playfair Display', serif;
    font-weight: 500;
    font-style: normal;
    font-size: 32px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
}

  .ingred-show-img {
    border-radius: 20px;
    width: 100vw;
  }
  .ingred-show-img-shrink{
    border-radius: 20px;
    width: 100vw;
  }

  .ingred-show-desc {
    font-family: house-script,sans-serif;
    font-size: 30px;
    width: 100%;
  }

  a {
    text-decoration: none;
    font-family: 'Pontano Sans', sans-serif;
    font-size: 18px;
    color: black;
  }

  hr {
    width: 95%;
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    margin-bottom: 1px;
  } 

}

.is-tile-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #fff;
  margin: 5px 20px;
  border-radius: 15px;
  width: 90%;
  padding-bottom: 10px;
}

.is-drinks{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #fff;
  margin: 5px 20px;
  border-radius: 15px;
  width: 90%;
  padding-bottom: 10px;
}

.is-drink-item {
  width: 100%;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  // height: 16px;
}

.is-img-wrapper {
  display: block;
  max-width: 95vw;
  
}

// Mobile break point - Desktop code here
@media screen and (min-width: 415px) {
  // CSS code here
  
  .ingred-show-container{
    .desktop-ingred-title{
      display: block;
      width: 100%;
      font-size: 52px;
    }
    .is-img-wrapper {
      display: block;
    }

    h2 { font-family: 'Pontano Sans', sans-serif; }

    .desktop-is-left{
      max-width: 85vh;
      margin-top: 25px;
      margin-right: 3vw;
    }

    .is-centerer{
      margin: 0 auto;
      display: inline-flex;

      .desktop-hidden{
        display: none;
      }
    .ingred-show-img{
      // height: 45vw;
      width: auto;
      height: 85vh;
      max-width: 85vh;
      border-radius: 5px;
    }
    .ingred-show-img-shrink{
      height: 55vh;
      width: auto;
    }
    .mobile-ingred-title{
      display: none;
    }
    .mobile-hidden{
      display: block;
      border-radius: 5px 5px 0 0;
    }

    .is-tile-container {
      width: 39vw;
      margin: 0 auto;
    }

    .is-drinks{
      width: 39vw;
      margin: 0 auto;
    }

    .is-desc{
      margin: 0 auto;
    }

    .is-drink-pic{
      width: 9vw;
      margin: 0 auto;
      // height: auto;
    }
    .description-width-setter-2{
      width: 40vw;
    }
    .desktop-is-grid {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: auto;
      grid-column-gap: 1vw;
      grid-row-gap: 10px;
      margin-bottom: 30px;
      font-family: house-script,
      sans-serif;
      font-weight: 400;
      font-style: normal;
      font-size: 30px;
      max-height: 70vh;
      overflow-y: auto;
      overflow-x: hidden;
      width: 40vw;
      margin-top: 30px;
      justify-items: center;
      padding-bottom: 15px;
      }

      a {
        color: white;
        vertical-align: middle;
      }

    }

    .is-drink-item{
      // width: 13vw;
      width: 9vw;
      background-color: black;
      border-radius: 5px;
      box-shadow: 9px 9px 10px -2px #888888;
      

      hr {
        display: none;
      }
    
      a {
        display: inline-block;
      }
    }  
  }
}
