.ingred-index-container {
  align-content: center;
  margin-bottom: 60px;
  background-color: #f7f7f7;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 53px;

  #ingred-index-h1-container {
   width: 100%;
   display: flex;
   justify-content: center;
  }

  hr {
    width: 95%;
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  }

  h1 {
  color: black;
  font-family: 'DM Serif Display',
  serif;
  font-weight: 400;
  font-style: normal;
  font-size: 40px;
  margin-bottom: 20px;
  position: relative;
}

  #ingred-index-h1:before {
    content: "";
    height: 5px;
    background-color: #f16762;
    width: 161px;
    position: absolute;
    display: block;
    left: 40%;
    bottom: 0;
    margin-left: -63px;
  }

  .ingred-tile-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #fff;
    margin: 0 20px;
    border-radius: 8px;
    width: 90%;
  }

  .ingred-index-tile {
    width: 100%;
    // height: 70px;
    height: 70px;
  }

  .ingred-index-tile a {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
  }

  .ingred-index-name {
  color: black;
  bottom: 0;
  right: 0px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 200;
  font-size: 50%;
  margin-left: 10px;

  }

  .ingred-index-img {
    border-radius: 8px;
    height: 50px;
    width: 50px;
    margin-left: 10px;
  }
  
  a {
    text-decoration: none;
    font-family: house-script,
    sans-serif;
    font-size: 32px;
    color: black;
  }

  .search-container {
    width: 70%
  }

  .search {
    height: 40px;
    border-radius: 20px;
    text-align: center;
    width: 100%;
    background-color: #fff;
    border: 1px solid #dfe0e6;
    color: #1c1c1f;
    line-height: normal;
    margin: 0;
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: .9375em;
    margin-bottom: 1em;
    outline: none;
  }

  .search::placeholder {
    text-align: center;
  }

  .search::-webkit-input-placeholder {
    -webkit-transition: opacity 0.3s linear;
    color: gray;
  }

  .search:focus::-webkit-input-placeholder {
    border-color: rgb(252, 154, 154) !important;
    opacity: .3;
  }

  // .search:active {
  //   border-color: rgb(248, 87, 87);
  // }
  
}
// Mobile break point - Desktop code here
@media screen and (min-width: 415px) {
  // CSS code here

  // Search Bar
  .ingred-index-container .search {
    width: 40%;
  }
  
  .ingred-index-container {
    align-content: center;
    margin-bottom: 60px;
    background-color: #f7f7f7;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 52px;

  #ingred-index-h1-container {
   width: 100%;
   display: flex;
   justify-content: center;
  }

  hr {
    display: none;
    width: 95%;
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  }

  h1 {
    color: black;
    font-family: 'DM Serif Display',
    serif;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
    margin-bottom: 40px;
    margin-top: 10px;
    position: relative;
    // text-decoration: rgb(245, 110, 76) solid underline;
  }

  #ingred-index-h1:before {
    content: "";
    height: 5px;
    background-color: #f16762;
    width: 161px;
    position: absolute;
    display: block;
    left: 40%;
    bottom: 0;
    margin-left: -63px;
  }

  .ingred-tile-container {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    background: #fff;
    width: 80vw;
    padding: 30px 0 0 15px;
  }

  .ingred-index-tile {
    width: 20%;
    height: 20%;
    position: relative;
    margin: 0% 3% 3% 1%;
    min-height: 300px;
    height: 320px;
    display: inline-block;
    vertical-align: middle;
    background-color: black;
    border-radius: 5px 5px 5px 5px;
    border: 1px solid #888888;
    box-shadow: 9px 9px 10px -2px #888888;

    a {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      width: 100%;
   }
  }

  .ingred-index-name {
    position: absolute;
    top: 87%;
    left: 0;
    right: 0;
    margin: 0 0 0 0;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 200;
    font-size: 20px;

    a {
      text-decoration: none;
      font-family: house-script,
      sans-serif;
      font-size: 42px;
      color: black;
    }

  }

  .ingred-index-img {
    // position: absolute;
    // top: 50%;
    // bottom: 50%;
    margin: auto;
    border-radius: 5px 5px 0 0;
    height: auto;
    width: 100%;
    vertical-align: middle;
    margin-left: 0;
    min-height: 260px;
    max-height: 260px;
    background-color: #f7f7f7;
  }
  
  a {
    text-decoration: none;
    font-family: house-script,
    sans-serif;
    font-size: 42px;
    color: black;
  }

  .search-container {
    width: 70%
  }

  .search {
    height: 40px;
    border-radius: 20px;
    // text-indent: 0%;
    width: 40%;
    background-color: #fff;
    border: 1px solid #dfe0e6;
    color: #1c1c1f;
    line-height: normal;
    margin: 0;
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: .9375em;
    margin-bottom: 1em;
    outline: none;
    text-align: center;
  }

  .search::-webkit-input-placeholder {
    -webkit-transition: opacity 0.3s linear;
    color: gray;
  }

  .search:focus::-webkit-input-placeholder {
    border-color: rgb(252, 154, 154) !important;
    opacity: .3;
  }

  // .search:active {
  //   border-color: rgb(248, 87, 87);
  // }
  
}
}