// Base Spirit Selection

.byoc-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.byoc-spirits {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    margin-bottom: 30px;
    font-family: house-script,
    sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    }

.byoc-grid-spirit {
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    color: white;
    font-size: 16px;
    text-decoration: none;
    border-radius: 5px;
    padding: 10px;
    height: 200px;
    width: 200px;
    font-family: house-script,
    sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}

// Compatible Ingredients

.byoc-results-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.byoc-results-compatibles-container {
    margin: 0px 20px;
}

#byoc-results-ci-header {
    color: black;
    font-family: house-script,
    sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    text-align: left;
    margin-bottom: 20px;
}

#byoc-results-ci-header-dn {
    display: none;
}

.byoc-result-compatible-ingredients {
    display: flex;
    overflow-x: scroll;
    color: white;
}

.carousel {

}


.byoc-result-compatible-card {
    background-color: #646464;
    border-radius: 10px;
    padding: 10px;
    margin-right: 10px;
    display: flex;
    min-width: 80px;
    min-height: 56px;
    align-items: center;
    justify-content: center;
}

// Compatible Cocktails

.byoc-result-drinks-container {
    width: 90%;
    margin: 0px 20px;
}

.byoc-result-drinks-carousel {
    display: flex;
    overflow-x: scroll;
    color: white;
    height: 250px;
}

.byoc-result-drink-card {
    height: 95%;
    min-width: 250px;
}

.byoc-result-drink-card a img {
    height: 100%;
    border-radius: 25px;
}

.byoc-result-drink-link {
    position: relative
}

.byoc-result-drinkTitle {
    position: absolute;
    top: -60px;
    left: 0;
    right: 0;
    color: white;
    font-family: house-script,
    sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    text-shadow: -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

// Mobile break point
@media screen and (max-width: 414px) {
  // CSS code here
  .byoc-spirits {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    margin-bottom: 30px;
    font-family: house-script,
    sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    }
    .byoc-grid-spirit {
        height: 100px;
        width: 100px;
    }
}
