
body {
  background-color: #89FAD0;
  font-family: 'Lobster';
}

#carousel {
  position: absolute;
  height: 100%;
  width: 100%;
  margin-top: 1vw;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.arrow {
  height: 100%;
  position: absolute;
  text-align: center;
  font-size: 3vw;
  border-radius: 50%;
  cursor: pointer;
  line-height: 30px;
  padding-top: 9vw;
  // z-index: 1000;
  font-weight: bold;

  span {
    color: #ff8784;
  }
}

.arrow-right {
  left: 89.69vw;
}

.item {
  text-align: center;
  color: black;
  // font-size: 40px;
  position: absolute;
  transition: height 0.5s, width 0.5s, left 0.5s, margin-top 0.5s, line-height 0.5s, background-color 0.5s, font-size 1s;
}

// $level2-height: 13vw;
// $level2-width: 230px;
// $level1-height: 15.6vw;
// $level1-width: 280px;
// $level0-height: 18.72vw;
// $level0-width: 330px;

// $level-2-left: 76vw;
// $level-1-left: 58.13vw;
// $level0-left: 37.14vw;
// $level1-left: 19.27vw;
// $level2-left: 4vw;


.level-2 {
  height: 13vw;
  left: 76vw;
  margin-top: 2.86vw;
  .discover-slideshow-title {
    font-size: 1.5vw;
  }
}

.level-1 {
  height: 15.6vw;
  left: 58.13vw;
  margin-top: 1.56vw;
  .discover-slideshow-title {
    font-size: 2.5vw;
    transition: font-size 0.5s;
  }
}

.level0 {
  height: 18.72vw;
  left: 37.14vw;
  // margin-top: 17.5px;
  .discover-slideshow-title {
    font-size: 3vw;
    transition: font-size 0.5s;
  }
}

.level1 {
  height: 15.6vw;
  margin-top: 1.56vw;
  left: 19.27vw;
  .discover-slideshow-title {
    font-size: 2.5vw;
    transition: font-size 0.5s;
  }  
}

.level2 {
  height: 13vw;
  margin-top: 2.86vw;
  left: 4vw;
  .discover-slideshow-title {
    font-size: 1.5vw;
    transition: font-size 0.5s;
  }  
}

.left-enter {
  opacity: 0;
  left: calc(4vw - 13vw);
  height: 13vw - 30;
  margin-top: 2.86vw;
  .discover-slideshow-title {
    font-size: 1.5vw;
    transition: font-size 0.5s;
  }
}

.left-enter.left-enter-active {
  opacity: 1;
  left: 4vw;
  height: 13vw;
  margin-top: 2.86vw;
  transition: left 0.5s, opacity 0.5s, height 0.5s, width 0.5s, margin-top 0.5s, line-height 0.5s, font-size 1s;
  .discover-slideshow-title {
    font-size: 1.5vw;
    transition: font-size 0.5s;
  }
}

.left-leave {
  opacity: 1;
  left: 76vw;
  height: 13vw;
  margin-top: 2.86vw;
  .discover-slideshow-title {
    font-size: 1.5vw;
    transition: font-size 0.5s;
  }
}

.left-leave.left-leave-active {
  left: calc(76vw + 13vw + 20);
  opacity: 0;
  height: 13vw - 30;
  margin-top: 2.86vw;
  transition: left 0.5s, opacity 0.5s, height 0.5s, width 0.5s, margin-top 0.5s, line-height 0.5s, font-size 1s;
  .discover-slideshow-title {
    font-size: 1.5vw;
    transition: font-size 0.5s;
  }
}

.right-enter {
  opacity: 0;
  left: calc(76vw + 13vw);
  height: 13vw - 30;
  margin-top: 2.86vw;
  .discover-slideshow-title {
    font-size: 1.5vw;
    transition: font-size 0.5s;
  }
}

.right-enter.right-enter-active {
  left: 76vw;
  opacity: 1;
  height: 13vw;
  margin-top: 2.86vw;
  transition: left 0.5s, opacity 0.5s, height 0.5s, width 0.5s, margin-top 0.5s, line-height 0.5s, font-size 1s;
  .discover-slideshow-title {
    font-size: 1.5vw;
    transition: font-size 0.5s;
  }
}

.right-leave {
  left: 4vw;
  height: 13vw;
  opacity: 1;
  margin-top: 2.86vw;
  .discover-slideshow-title {
    font-size: 1.5vw;
    transition: font-size 0.5s;
  }
}

.right-leave.right-leave-active {
  left: calc(4vw - 13vw);
  opacity: 0;
  height: 13vw - 30;
  margin-top: 2.86vw;
  transition: left 0.5s, opacity 0.5s, height 0.5s, width 0.5s, margin-top 0.5s, line-height 0.5s, font-size 1s;
  .discover-slideshow-title {
    font-size: 1.5vw;
    transition: font-size 0.5s;
  }
}

.noselect {
  -webkit-user-select: none; 
  -khtml-user-select: none; 
  -moz-user-select: none; 
  -ms-user-select: none;  
  user-select: none;
}