// Sass variables

$h1-font: 'DM Serif Display',
serif;

// About Page

.about-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #f7f7f7;
    height: 100vh;
}

.about-header h1 {
    color: black;
    font-family: $h1-font;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
    margin-bottom: 30px;
    position: relative;
}

.about-body {
    background-color: #fff;
    // height: 100%;
    border-radius: 8px;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.about-body-icon {
    width: 75px;
    height: 75px;
    opacity: .8;
    transition: all .2s ease-in-out;
}

.about-body-icon:hover {
    opacity: 1
}

@keyframes flickerAnimation {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}

@-moz-keyframes flickerAnimation {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}

@-webkit-keyframes flickerAnimation {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}

.animate-flicker {
    -webkit-animation: flickerAnimation 3s infinite ease-in;
    -moz-animation: flickerAnimation 3s infinite ease-in;
    animation: flickerAnimation 3s infinite ease-in;
}

// GitHub Section

.about-body-projectRepo {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

// Body Section

.about-body-content {
    width: 90%;
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    // margin-left: 40px;
    margin-top: 10px;
}

.about-body-content span {
    text-align: left;
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 5px;
}

.about-body-content li {
    text-align: left;
    list-style-type: none;
    font-size: 18px;
}

// Team Section

.about-team-cardsContainer {
    width: 100%;
    height: 350px;
    // margin: auto;
    // background: orange;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.about-team-cardContainer {
    // border-radius: 25px;
    // background: cornflowerblue;
    width: 48%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-bottom: 10px;
}

#Ben {
    background-image: url("../../assets/team_images/ben.jpg");
    background-position: top;
    background-size: cover;
    // border-top-left-radius: 25px;
}

#Frankie {
    background-image: url("../../assets/team_images/Frankie.jpeg");
    background-position: top;
    background-size: cover;
}

#Phil {
    background-image: url("../../assets/team_images/Phil.jpeg");
    background-position: center;
    background-size: cover;
}

#Rob {
    background-image: url("../../assets/team_images/Rob.png");
    background-position: top;
    background-size: cover;
}

.about-team-card-image {
    position: relative;
    width: 100%;
    height: 60%;
}

.about-team-card-content {
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0
}

.about-team-card-content span {
    color: black;
    font-size: 16px;
}

.about-team-card-icons-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.about-team-card-icon {
    width: 50px;
    height: 50px;
    margin-top: 5px
}

// Tech Section

.about-body-tech {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    // margin-left: 40px;
    margin-top: 10px;
    margin-bottom: 100px;
}

.about-body-tech span {
    text-align: left;
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 20px;
}

.about-body-tech-iconsContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about-tech-icon {
    width: 50px;
    height: 50px;
}

// Mobile break point - Desktop code here
@media screen and (min-width: 415px) {
  // CSS code here

}
