// Sass variables

$h1-font: 'DM Serif Display',
serif;

// About Page

.about-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #f7f7f7;
    height: 100vh;
}

.about-header h1 {
    color: black;
    font-family: $h1-font;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
    margin-bottom: 30px;
    position: relative;
}

.about-body {
    background-color: #fff;
    height: 100%;
    border-radius: 8px;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.about-body-icon {
    width: 75px;
    height: 75px;
    opacity: .8;
    transition: all .2s ease-in-out;
}

.about-body-icon:hover {
    opacity: 1
}

@keyframes flickerAnimation {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}

@-moz-keyframes flickerAnimation {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}

@-webkit-keyframes flickerAnimation {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}

.animate-flicker {
    -webkit-animation: flickerAnimation 3s infinite ease-in;
    -moz-animation: flickerAnimation 3s infinite ease-in;
    animation: flickerAnimation 3s infinite ease-in;
}

// GitHub Section

.about-body-projectRepo {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

// Team Section

.about-body-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 40px;
    margin-top: 10px;
}

.about-body-content span {
    text-align: left;
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 5px;
}

.about-body-content li {
    text-align: left;
    list-style-type: none;
    font-size: 18px;
}


// Mobile break point - Desktop code here
@media screen and (min-width: 414px) {
  // CSS code here

}
